@import 'color.module';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.bgColor {
  &.red,
  &.error {
    background-color: $red;
  }

  &.green,
  &.success {
    background-color: $green;
  }

  &.blue,
  &.info {
    background-color: $blue;
  }

  &.yellow,
  &.warning {
    background-color: $yellow;
  }

  &.white,
  &.default {
    background-color: $white;
  }

  &.black,
  &.dark-mode {
    background-color: $black;
  }
}

.color {
  &.red,
  &.error {
    color: $red;
  }

  &.green,
  &.success {
    color: $green;
  }

  &.blue,
  &.info {
    color: $blue;
  }

  &.yellow,
  &.warning {
    color: $yellow;
  }

  &.white,
  &.dark-mode {
    color: $white;
  }

  &.black,
  &.default {
    color: $black;
  }
}
